<%- include('../../include/header'); %> <%- include('../../include/nav'); %>
<div class="container">
  <% if (isSearch) { %>
  <div class="card">
    <div class="card-content">
        <a
        href="/restaurant"
        class="btn grey lighten-1"
        >Back</a
        >
    </div>
  </div>
  <% } %>
  <div class="card">
    <div class="card-content">
        <table class="striped">
            <thead>
              <tr>
                <th>Owner</th>
                <th>Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% restaurants.forEach(restaurant => { %>
              <tr>
                <td><%= restaurant.owner %></td>
                <td><%= restaurant.name %></td>
                <td>
                  <a
                    href="/restaurant/<%= restaurant._id %>"
                    class="btn grey lighten-1"
                    >View</a
                  >
                  <a
                    href="/restaurant/update/<%= restaurant._id %>"
                    class="btn light-blue accent-2"
                    >Edit</a
                  >
                  <a
                    href="/restaurant/rate/<%= restaurant._id  %>"
                    class="btn teal accent-4"
                    >Rate</a
                  >
                  <a
                    href="/restaurant/delete/<%= restaurant._id  %>"
                    class="btn red accent-2"
                    >Delete</a
                  >
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
    </div>
  </div>
</div>

<%- include('../../include/footer'); %>
