<%- include('../../include/header'); %>
<%- include('../../include/nav'); %>
<div class="container">
    <table class="striped">
        <thead>
          <tr>
              <th>Restaurant id</th>
              <th>Name</th>
              <th>Borough</th>
              <th>Cuisine</th>
              <th>Photo</th>
              <th>Action</th>
          </tr>
        </thead>
        <tbody>
        <% restaurants.forEach(restaurant => { %>
          <tr>
            <td><%= restaurant.restaurant_id %></td>
            <td><%= restaurant.name %></td>
            <td><%= restaurant.borough %></td>
            <td><%= restaurant.cuisine %></td>
            <td>
              <%  if (restaurant.extension){ %>
              <img style="height: 150px;" src="data:<%= restaurant.extension %>;base64, <%= restaurant.photo %>" alt="">
              <%  } %>
            </td>
            <td>
              <a href="/restaurant/update/<%= restaurant.restaurant_id %>" class="btn light-blue accent-2">Edit</a>
              <a href="#" class="btn red accent-2">Delete</a>
            </td>
          </tr>
        <% }) %>
        </tbody>
      </table>
</div>

<%- include('../../include/footer'); %>