<%- include('../../include/header'); %>
<%- include('../../include/nav'); %>
<div class="container">
    <div class="row">
        <div class="col m8 offset-m2">
            <div class="card">
                <div class="card-content">
                        <form action="/restaurant/rate/<%= restaurant._id  %>" method="POST">
                            <div class="input-field col s12">
                                <input name="name" id="name" type="text" value="<%= restaurant.name %>" readonly/>
                                <label for="name">Name</label>
                            </div>
            
                            <input name="_id" id="_id" value="<%=restaurant._id %>" type="hidden" class="validate" readonly/>
                            
                            <div class="input-field col s12">
                                <input name="rate" id="rate" value="0" type="number" min="0" max="10" step="1" class="validate"/>
                                <label for="rate">Score</label>
                            </div>
            
                            <button type="submit" class="btn waves-effect waves-light" name="action">Rate</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../../include/footer'); %>