<%- include('../../include/header'); %>
<%- include('../../include/nav'); %>
<div class="container">
    <div class="row">
        <div class="col m6 offset-m3">
            <form action="/restaurant/update/<%= restaurant.restaurant_id  %>" method="POST">
                <div class="input-field col s12">
                    <input name="name" id="name" type="text" class="validate" value="<%= restaurant.name %>" />
                    <label for="name">Name</label>
                </div>
                <div class="input-field col s12">
                    <input name="restaurant_id" id="restaurant_id" value="<%=restaurant.restaurant_id %>" type="text" class="validate" />
                    <label for="restaurant_id">Restaurant id</label>
                </div>
                <div class="input-field col s12">
                    <input name="borough" id="borough" type="text" class="validate" value="<%=restaurant.borough%>"/>
                    <label for="borough">Borough</label>
                </div>

                <div class="input-field col s12">
                    <input name="cuisine" id="cuisine" type="text" class="validate" value="<%=restaurant.cuisine%>"/>
                    <label for="cuisine">Cuisine</label>
                </div>

                <div class="input-field col s12">
                    <input name="street" id="street" type="text" class="validate" value="<%=restaurant.address.street%>"/>
                    <label for="street">Street</label>
                </div>

                

                <div class="input-field col s12">
                    <input name="building" id="building" type="text" class="validate" value="<%=restaurant.address.building%>"/>
                    <label for="building">Building</label>
                </div>

                <div class="input-field col s12">
                    <input name="zipcode" id="zipcode" type="text" class="validate" value="<%=restaurant.address.zipcode%>"/>
                    <label for="zipcode">Zipcode</label>
                </div>

                <div class="input-field col s12">
                    <input name="coord" id="coord" type="text" class="validate" value="<%=restaurant.address.coord%>"/>
                    <label for="coord">Coord</label>
                </div>


                <button type="submit" class="btn waves-effect waves-light" name="action">Create</button>
            </form>
        </div>
    </div>
</div>
<%- include('../../include/footer'); %>