<%- include('../../include/header'); %>
<%- include('../../include/nav'); %>
<div class="container">
    <div class="row">
        <div class="col m8 offset-m2">
            <div class="card">
                <div class="card-content">
                        <a
                        href="/restaurant"
                        class="btn grey lighten-1"
                        >Back</a
                        >
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                        <form action="/restaurant/update/<%= restaurant._id  %>" method="POST" enctype="multipart/form-data">
                            <div class="input-field col s12">
                                <input name="name" id="name" type="text" class="validate" value="<%= restaurant.name %>" />
                                <label for="name">Name</label>
                            </div>
            
                            <input name="_id" id="_id" value="<%=restaurant._id %>" type="hidden" class="validate" />   
                            
                            <div class="input-field col s12">
                                <input name="borough" id="borough" type="text" class="validate" value="<%=restaurant.borough%>"/>
                                <label for="borough">Borough</label>
                            </div>
            
                            <div class="input-field col s12">
                                <input name="cuisine" id="cuisine" type="text" class="validate" value="<%=restaurant.cuisine%>"/>
                                <label for="cuisine">Cuisine</label>
                            </div>
            
                            <div class="input-field col s12">
                                <input name="street" id="street" type="text" class="validate" value="<%=restaurant.address.street%>"/>
                                <label for="street">Street</label>
                            </div>
            
                            
            
                            <div class="input-field col s12">
                                <input name="building" id="building" type="text" class="validate" value="<%=restaurant.address.building%>"/>
                                <label for="building">Building</label>
                            </div>
            
                            <div class="input-field col s12">
                                <input name="zipcode" id="zipcode" type="text" class="validate" value="<%=restaurant.address.zipcode%>"/>
                                <label for="zipcode">Zipcode</label>
                            </div>
            
                            <div class="input-field col s12">
                                    <input name="lat" id="lat" type="text" class="validate" value="<%=restaurant.address.lat%>"/>
                                    <label for="lat">Lat.</label>
                                </div>
            
                            <div class="input-field col s12">
                                <input name="lon" id="lon" type="text" class="validate" value="<%=restaurant.address.lon%>"/>
                                <label for="lon">Lon.</label>
                            </div>
            
            
                            <div class="file-field input-field col s12">
                                <div class="btn">
                                    <span>Photo</span>
                                    <input type="file" name="photo" id="photo">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
            
            
                            <button type="submit" class="btn waves-effect waves-light" name="action">Update</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../../include/footer'); %>